<%- include('./partials/header')%>
<%- include('./partials/navbar')%>

<link type="text/css" rel="stylesheet" href="/css/main.css">

<div class="container">

    <div class="outer-box">
        <div class="inner-content">
            <i class="fas fa-exclamation-triangle"></i>
            <p>Something went Wrong!</p>
            <p>This is the Error Page.</p>
            <a href="/products">Go Home</a>
        </div>
    </div>

</div>

<%- include('./partials/footer')%>