<%- include('./partials/header')%>
<%- include('./partials/navbar')%>

<link type="text/css" rel="stylesheet" href="/css/main.css">

<div class="container">

    <div class="outer-box">
        <div class="inner-content p-3" style="background-color: gainsboro;">
            <p class="text-success">Your order is confirmed!</p>
            <p>Thank you for shopping with us</p>
            <p><a href="/products">Click Here</a> to purchase any other item</p>
        </div>
    </div>

</div>

<%- include('./partials/footer')%>